.sub_tit{ font-size: $fs-34;; font-weight:400; font-family: $ff-sbaggro; margin-bottom: 30px; line-height: 1;
    &::after {
        content: ''; display: inline-block;  width: 10px; height: 10px;
        border-radius: 50%;  background-color: $color-blue2; margin-left: 11px;
        vertical-align: bottom; margin-bottom: 7px;
    }
    @media (max-width: 1080px) {font-size: $fs-21; margin-bottom: 20px;
        &::after{
            width: 6px; height: 6px;margin-bottom: 3px;margin-left: 5px;
        }
    }
}
.sub_tit_md{ font-size: $fs-24; font-weight: 500; font-family: $ff-sbaggro; margin: 40px 0 24px; line-height: 1;
    @media (max-width: 1080px) {font-size: $fs-18; margin-bottom: 15px;
        &::after{
            width: 6px; height: 6px;margin-bottom: 10px;margin-left: 5px;
        }
    }
}
.sub_txt{font-size: $fs-18; line-height: 28px; margin-top: 24px;
    @media (max-width: 1080px) {font-size: $fs-15; line-height: 21px; margin-bottom: 40px !important;}
}



//연구분야 - 연구소개
.intro_box{
    .intro_visual{  position: relative;
        background-position: center;background-size: cover;background-repeat: no-repeat;
        width: 100%; height: 630px; border-radius: 20px;color: $color-wh;display: flex;flex-direction: column;
        justify-content: flex-end;align-items: flex-end;text-align: right;
       >div{ position: absolute; bottom: 13%; right: 15%;
        h3{ font-family: $ff-sbaggro; font-size: $fs-58;
            color: $color-wh; font-weight: 500; line-height: 1.3;
        }
        b{font-family: $ff-sbaggro; color: #222; display: block;  margin: 0px 0 15px;font-size: $fs-38; text-transform: uppercase; font-weight: 300;}
        span{ font-size: $fs-34; font-weight: 300; }
       }
      
        &.bg01{
            background-image: url(../images/sub/intro_bg_01.png);
        }
        &.bg02{
            background-image: url(../images/sub/subBg_02.png); 
        }
    }
    .intro_content{ @include w1300; margin-top: 98px;
        h4{
            font-size: $fs-36; font-weight: 700; font-family: $ff-suit;
            margin-bottom: 45px; line-height: 54px;
        }
        .flex_col{ gap: 40px;}
        p{font-size: $fs-19; line-height: 34px;}
    }
    .goals{ display: flex; flex-wrap: wrap; gap: 27px;padding: 100px 78px; background: #dceefb;margin-top: 98px;width: calc(100% + 60px); max-width: unset !important;
            margin-left: -30px;
            li{ width: calc((100% - 66px) / 3); background: $color-wh; border-radius: 20px; box-shadow: 5.7px 8.2px 18px 0 rgba(0, 0, 0, 0.1);
                display: flex; flex-direction: column; gap: 10px; padding: 35px 50px; text-align: center; 
                b{ font-size: $fs-20; font-weight: 700; color: $color-grey1;}
                p{font-size: $fs-17;color: $color-grey1; word-break: keep-all; line-height: 26px;}
                &:first-of-type{ padding: 27px 29px;
                    b{text-align: left; color: $color-wh; width: 70px;}
                    background: $color-blue url(../images/sub/icon_goals.png) no-repeat bottom 27px right 29px;
                }
            }
        
    }
    .area{ @include w1300; margin-top: 98px;
        .flex{justify-content: space-between; gap: 50px; flex-wrap: wrap; justify-content: flex-start;
            li{ width: 400px;
                a{ display: flex; flex-direction: column; gap: 15px; border-radius: 20px; overflow: hidden;
                     img{ transition: all 0.3s; width: 100%;}
                     b{font-size: $fs-22; font-weight: 700;}
                     &:hover{
                        img{ border-radius: 20px;
                            box-shadow: 5.7px 8.2px 18px 0 rgba(0, 0, 0, 0.3);
                        }
                     }
                 }
            }
        }
    }

    @media (max-width: 1080px) {
        .intro_visual{margin-bottom: 195px;height: 160px;
            >div{right:unset;bottom: -144px; left: 0; text-align: left;
                h3{ color: $color-grey1; font-size: $fs-28;}
                b{ color: $color-blue2; font-size: $fs-16; font-weight: 500; }
                span{ color: $color-grey3; font-size: $fs-16;}
            }
        }
        .intro_content{width: calc(100% + 60px); max-width: unset !important; margin-left: -30px; background: #f6f3f0; padding: 47px 30px;  
            h4{font-size: $fs-24; margin-bottom: 25px; line-height: 34px;}
            p{font-size: $fs-15; line-height: 22px;}
            .flex_col{gap: 20px;}
        }
        .goals{margin-top: 0; padding: 50px 30px; gap: 10px 8px;
            li{ width: calc((100% - 8px) / 2); padding: 22px 15px;

                b{font-size: $fs-16; }
                p{font-size: $fs-14; line-height: 20px;}
                &:first-of-type{
                    background-size: 40px auto; padding: 20px;
                    background-position: bottom 14px right 14px;
                    b{width: 100%;}
                }
            }
        }
        .area{ margin-top: 50px; padding: 0;
            .flex{
                &.swiper-wrapper{
                    li{width: 220px;
                        &.swiper-slide-active, &.swiper-slide-next, &.swiper-slide-next + li {
                            opacity: 1;
                        }
                    }
                }
                li{width: 220px;
                    a{gap: 15px;
                        img{ width: 220px; height: 140px;}
                        b{font-size: $fs-15;}
                    }
                }
            }
        }
    }
 
}

// 구성원 소개
.member_list{ display: flex; gap: 30px 50px; flex-wrap: wrap;
    >li{width: calc(50% - 25px); background: $color-grey4; border-radius: 10px; padding: 34px 30px;display: flex; gap: 10px; height: 270px;
        .info{display: flex; flex-direction: column; gap: 40px; width: calc(100% - 56px);
            h4{ font-size: $fs-24; font-family: $ff-sbaggro; margin-top: 20px; font-weight: 400;
                span{font-size: $fs-16; color: $color-grey1; font-family: $ff-suit;}
            }
            ol{ flex-wrap: wrap; display: flex; gap: 8px 70px; width: 100%;
                >li{ font-size: $fs-17; font-family: $ff-sbaggro; font-weight: 300;
                }
                .call{ padding-left: 36px; width: 175px;
                    background: url(../images/sub/member_call_blue.png) no-repeat top left;
                }
                .email{ padding-left: 36px; 
                    background: url(../images/sub/member_email_blue.png) no-repeat top 2px left;
                    &:hover{text-decoration: underline; text-underline-offset: 4px;}
                    a{background: url(../images/sub/member_email_outlink.png) no-repeat top 1px right; padding-right: 27px;}
                }
                .job{ padding-left: 36px; width: 100%;  @include elli2; height: 44px;
                    background: url(../images/sub/member_job_blue.png) no-repeat top left;
                  
                }
            }
          
        }

        .flex_col{ display: flex; gap: 10px; align-items: center; justify-content: space-between;
            .link{ background: url(../images/sub/member_home.png) no-repeat center center; display: block;
                width: 46px;height: 46px;
            }
            button{ margin-top: auto; display: block;background: url(../images/sub/member_more_black.png) no-repeat center/25px; padding: 0 10px; width: 45px; height: 25px;}
        }
        &:hover{ background-color: $color-blue2;
            .info{
                h4{color: $color-wh;
                    span{color: $color-wh;}
                }
                ol{
                    li{color: $color-wh;}
                    .call{background-image: url(../images/sub/member_call.png);}
                    .email{background-image: url(../images/sub/member_email.png);
                     a{background-image: url(../images/sub/member_email_outlink_white.png);}
                    }
                    .job{background-image: url(../images/sub/member_job.png);}
                   
                }
            }
            .flex_col{
                button{background-image: url(../images/sub/member_more_white.png); cursor: pointer;}
            }
        }
    }    

    @media (max-width: 1080px) {flex-direction: column; gap: 15px;
            >li{width: 100%; justify-content: space-between; height: auto; padding: 20px 25px 15px;
                .info{gap: 17px;
                    h4{margin-top: 0; font-size: $fs-20; 
                        span{font-size: $fs-16; margin-bottom: 3px; font-weight: 600;}
                    }
                    ol{flex-direction: column; gap: 15px;
                        >li{font-size: $fs-15;background-size: 16px auto !important;
                            padding-left: 25px !important;}
                         
                       // .job{height: 22px; line-height: 22px; @include elli;}

                    }
                }
                .flex_col{
                    .link{background-size: 32px auto !important; width: 32px; height: 32px;}
                    button{background-size: 20px auto !important; width: 30px; height: 30px;}
                }
            }
        
    }

}

// ※ 표시가 있는 안내 문구
.mark {
    position: relative;
    padding-left: 0;
    color: $color-grey6 ;
    font-size: $fs-16;
    display: block;
    line-height: 24px; padding-left: 20px;
    
    &::before {
        content: '※ ';
        color: $color-grey6 ;
        font-weight: 400;
        position: absolute; left: 0; top: 0;
    }
    @media (max-width: 1080px) {
        font-size: $fs-15;
    }
}


//개인정보 수집 및 이용 동의 
//공통 스타일
.agree_box{margin-bottom: 60px;
    > .scroll {  border-radius: 14px; padding:40px 30px;border: 1px solid #cecece; font-size: $fs-17;
        p{font-size: $fs-17; margin-bottom: 20px;line-height: 28px;}
        .table{ margin-bottom: 20px;
            table{
                td{font-size: $fs-16; line-height: 28px;}
            }
            & + p {margin-bottom: 0px; }
        }
      &.scroll { @include scrollBar2; max-height:408px;overflow-x:hidden;overflow-y:auto; padding:40px 40px 40px 30px;}
    } 
    
    .type_list {border:1px solid #b4b4b4;padding:0 30px;background-color:#f7f7f9;
      li{padding:14px 0;
        label {color:#2e3345;vertical-align:-7px;
          span {color:#4b6de9;}
        }
      }
    }
    
    .radio{margin-top: 22px; display: flex; justify-content: space-between; align-items: center; background: #f4f5f7; border-radius: 14px; padding: 18px 52px;
        ul{width: 300px;    justify-content: flex-end;}
    }
    @media (max-width: 1080px){
        .table{
            th,td{height: auto;}
        }
        .radio{padding: 18px 25px; flex-direction: column; align-items: flex-start;
            p{font-size: $fs-17; margin-bottom: 10px;}
            ul{width: 100%;
                li{margin-right: 0 !important; width: 50%;}
            }
        }
    }
  }

  //신청상세 -파일
  .file{ 
    a{display: block; font-size: $fs-17; line-height: 28px; color: #2d2c2d; padding-left: 30px; 
        background: url(../images/sub/icon_file3.png) no-repeat left top 6px;

    }
  }



  //본인확인서비스
  .certifin_box{ display: flex; border: 1px solid $color-blue2; border-radius: 20px; padding: 50px 0;align-items: center; justify-content: center;
    >div{ width: 33.33%; display: flex; flex-direction: column; align-items: center; justify-content: center; border-right: 1px dotted #c6c6cc;
        &:last-of-type{border-right: none;}
        img{margin-bottom: 40px; display: block;}
        strong{font-size: $fs-23;line-height: 32px; font-family: $ff-suit; font-weight: 600; margin-bottom: 28px;}
        p{text-align: center; margin-bottom: 50px;}
        >a{display: block; border-radius: 7px; border: 1px solid $color-bk; padding: 0 20px; background: url(../images/sub/icon_certifin_arrow_black.png) no-repeat center right 20px;
            width: 244px; height: 56px; line-height: 56px; font-size: $fs-17; font-family: $ff-suit; font-weight:600; color: $color-grey6;
            color: #444; transition: all 0.3s;
            &:hover{color: $color-wh; background: $color-blue2 url(../images/sub/icon_certifin_arrow_white.png) no-repeat center right 20px; border-color: $color-blue2;}
        }
    }
    @media (max-width: 1080px) {
        flex-direction: column; padding: 35px 25px;
        >div{ width: 100%; border-right: none; border-bottom: 1px dotted #c6c6cc; padding: 30px 0;
            &:first-of-type{padding-top: 5px;}
            &:last-of-type{border-bottom: none; padding-bottom: 5px;}
            img{width: 45px; height: auto; margin-bottom: 20px;}
            strong{font-size: $fs-18; line-height: 28px; margin-bottom: 15px;}
            p{font-size: $fs-15; line-height: 20px; margin-bottom: 30px;}
            >a{width: 180px; height: 40px; line-height: 40px; font-size: $fs-14; padding: 0 15px; background-size: 7px auto; background-position: center right 15px;}
        }
    }
  }


  //조직안내
  .department_info{ margin-bottom: 40px;
    border-radius: 30px; background: $color-grey4; padding: 40px 45px;  background: #f8f8f8 url(../images/common/sitemap_bg_logo.png) no-repeat bottom right -45px / 612px auto;
    >ul{
        >li{font-size: $fs-18; margin-bottom: 25px; font-family: $ff-suit;
            &:last-of-type{margin-bottom: 0;}
            ol{ display: flex; flex-direction: column; gap: 5px; margin-top: 5px;
                li{font-family: $ff-suit; font-size: $fs-18; }
            }
        }
    }

    @media (max-width: 1080px) {
        background-size: 300px auto; padding: 25px 20px; 
        >ul >li{margin-bottom: 15px;}
    }

    //배경색 추가
    @media (max-width: 760px) {
        background-size: 200px auto; background-position: bottom right;
    }

  }


  //신청하기 화면 공통

  .apply{ display: flex; gap: 39px;
    >a{ display: flex; align-items: center; justify-content: center; width: calc(50% - 19.5px); height: 160px; background: #f4f6f9 url(../images/sub/icon_apply_arrow.png) no-repeat center right 48px; padding-right: 60px; border-radius: 20px; 
        span{display: block;  font-family: $ff-sbaggro; font-size: $fs-24; font-weight: 500;
            padding-left: 89px; height: 54px; line-height: 54px;background: url(../images/sub/icon_apply_01.png) no-repeat center left/ 46px auto;
        }

        &:last-of-type{
            span{background-image: url(../images/sub/icon_apply_02.png);}
        }
    
    }

    @media (max-width: 1080px) {
        flex-direction: column; gap: 10px;
        >a{width: 100%; height: 90px; justify-content: flex-start; padding-left: 28px; padding-right: 50px; background-size: 9px auto; background-position: center right 38px;
            span{font-size: $fs-17; padding-left: 50px; height: 40px; line-height: 40px; background-size: 33px auto;}
            &:last-of-type{ padding-left: 38px;
                span{background-size: auto 26px; padding-left: 41px; }
            }
        }
    }
  }


  //  지식재산권, 기술소개자료(SMK), 


.search-area { position: relative; z-index: 0; margin-bottom: 15px;
    &::before {
        content:"";
        position:absolute; inset:0 auto 0 50%;
        width: 100vw; transform: translateX(-50%);
        background: #f9fafb; z-index:-1; border-bottom: 1px solid #000000; border-top: 1px solid #000000;
      }

.cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.col {
  border: 1px solid #000000;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-right: unset;
  &:last-of-type{border-right: 1px solid #000000;}
  &:focus-within{border-color: #1f60c2; border-right: 1px solid #1f60c2;
    .col-title{background: #1f60c2; color: #fff;}
    +.col{border-left: unset;}
}

}
.col-title{ background: #f9fafb; text-align: left;
    height: 60px; font-family: $ff-suit; font-size: $fs-18; font-weight: 600;
    padding: 0 30px; border-bottom: 1px solid #e0e2e6;
}
.acc-head {
  margin: 0;
  .acc-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 12px 14px;
    font-weight: 700;
    font-size: 14px;
    border: 0;
    cursor: pointer;

    // &:focus-visible { outline: 2px solid $focus; outline-offset: 2px; }

    .caret {
      width: 16px; height: 16px; display: inline-block;
     // border-right: 2px solid $ink; border-bottom: 2px solid $ink;
      transform: rotate(45deg);
      transition: transform .2s ease;
    }
    &[aria-expanded="true"] .caret { transform: rotate(-135deg); } // 위쪽 화살표
  }
}

.acc-panel {
  padding: 6px 8px 12px 8px;
}

/* ---------- List items with hidden checkbox ---------- */
.list {
  margin: 0;
  padding: 10px;
  max-height: 280px;
  overflow-y: auto;  background: #fff;

  li { margin: 2px 0; }

  .item {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    user-select: none;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    span { flex: 1; font-size: $fs-17; color: #2c2c2f; line-height: 48px; padding: 0px 20px;
        
    }

    &:hover { background: #f9fafb; }

    // 선택 상태
    input:checked + span {
      background: #eff6ff;
      border-radius: 6px;
      display: block;
      color: #1f60c2;
      font-weight: 600;
    }
  }
}

/* ---------- Selected Chips ---------- */
.selected-area{ border-left: 1px solid #000000; border-right: 1px solid #000000;padding: 22px 30px;
    background: #fff;
    h3{ font-family: $ff-suit; font-size: $fs-18; font-weight: 600; margin-bottom: 15px;}
      
        .chips { color: #1f60c2; margin: 0; padding: 0;
          display: flex; flex-wrap: wrap; flex-direction: column;gap: 5px;
        }
      
        .chip {
          display: inline-flex; align-items: center; gap: 10px; font-size: $fs-15; 
      
        }
        .chip-remove{
            background: url(../images/sub/chip-remove.png) no-repeat center center/13px auto; width: 20px; height: 20px;
        }
}


/* ---------- Search controls ---------- */
.search{margin: 0;border-radius: unset;border: 1px solid #000000;}

/* ---------- Responsive ---------- */
    @media (max-width: 1080px) {
       width: calc(100% + 30px); margin-left: -15px;
            &:before{border-top: 0; border-bottom: 0;
            }
            .col-title{height: 50px; font-size: $fs-16; position: relative; padding-right: 20px;
                &:after{content: ''; position: absolute; right: 10px; top: 0; display: block; background: url(../images/sub/icon_lnb_down.png) no-repeat center/11px auto; 
                    width: 50px; height: 50px; transition: transform 0.3s ease;}
            }
        

        .cols { grid-template-columns: 1fr; gap: 0;  border-bottom: 1px solid #000000;}
        .col { border-radius: 0; border: 0; border-top: 1px solid #000;
            &.active {
              .list {
                display: block;
              }
              .col-title:after {
                transform: rotate(180deg);
              }
            }
            &:focus-within{border-right:unset;border-color:#000000;
                .col-title{background: none; color: #000000; border-top: 0;
                }
            }
            &:last-of-type{border-right:0;}
        }
        //.acc-head .acc-btn { font-size: 16px; padding: 16px 18px; }
        //   .acc-panel { padding: 8px 18px 16px 18px; border-bottom: 1px solid $line; }
        .list { max-height: none; display: none;
            .item{ height: 35px; line-height: 35px;
                span{ font-size: $fs-15; line-height: 35px;}
            }
        }
        .selected-area{display: none; border-left: 0; border-right: 0; border-bottom: 0; padding: 15px 30px;}
        .search{border: 1px solid #e1e3e1; border-radius: 10px; margin: 30px 15px 25px;}
    }

    // @media (max-width: 640px) {
    // .controls { grid-template-columns: 1fr; }
    // .controls .btn { width: 100%; }
    
    // }

}


//  기술소개자료 상세 페이지
.investigator{
    position: relative; min-height: 400px; // 최소 높이 설정
    padding: 60px 0; // 상하 패딩 추가
    &::before{content: '';  display: block; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100vw; height: 100%;
        background: url(../images/sub/TEC_bg.png) no-repeat center/cover; z-index: 0;}
   
    >div{ max-width: 1360px; margin: 0 auto; display: flex; position: relative; z-index: 1; padding: 0;
        align-items: center;
        img{width: 270px; height: auto; margin-right: 85px;}
        h3{color: $color-wh; font-size: $fs-44; font-family: $ff-sbaggro; font-weight: 500; line-height: 54px; 
            margin-bottom: 25px;}
        b{font-size: 40px; font-family: $ff-suit;  color: #ffb763; 
            display: flex; align-items: center; gap: 20px;
            span{font-weight: 700; color: $color-wh; letter-spacing: 3px;}
        }
        >.flex_col{ gap: 10px; margin-left: auto;
            a{width: 230px; border: 2px solid #fff; color: #fff; border-radius: 8px; height: 62px; line-height: 62px; padding: 0 20px; font-size: $fs-19; font-family: $ff-suit;
                 background: url(../images/sub/TEC_arrow.png) no-repeat center right 20px;}
        }
    }
    @media (max-width: 1080px) {
        >div{  flex-direction: column;
            img{  width: 240px;margin-right: 0; margin-bottom: 20px;}
                h3{line-height: 1.4em; margin-bottom: 10px; font-size: $fs-34; text-align: center;}
                b{ font-size: $fs-30;justify-content: center;}
                >.flex_col{margin: 20px auto 0; flex-direction: unset;
                a{    height: 50px; width: 160px;
                    line-height: 49px;
                    font-size: 16px;
                    background-size: 6px auto;
                    padding: 0 12px;
                    background-position: center right 10px;}
                }

        }
    }

}

.grey_box{ background: #f4f6f9; border-radius: 10px; padding: 32px 30px;
    b{font-size: $fs-20; font-family: $ff-suit; font-weight: 600; margin-bottom: 10px; line-height: 28px;}
    ul{
        li{font-size: $fs-17; line-height: 28px;
        }
    }
}
//기술완성도(TRL)
.trl_box {
  border-radius: 16px;
  padding-top: 32px;
  overflow-x: auto; // 가로 스크롤 추가

  .trl_flow {  padding-top: 12px;
        .trl_header {
            margin-bottom: 40px;  padding-left:18px;
            display: grid;
            grid-template-columns: repeat(11, 1fr); // trl1 ~ trl9 9등분
            min-width: 1300px; // 최소 너비 설정으로 위치 고정
            position: relative;

      .trl_categories {
        display: contents; 
        .category_item {
            grid-row: 1; // 맨 위줄
            justify-self: center;
            align-self: end; // 아래쪽 정렬
            position: relative;
            top: -20px; // 살짝 위로 띄우기
            width: 200px;
            height: 75px;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            border: 1px solid #e0dfe2; border-radius: 12px; padding: 10px 0;
          
            &.active{
                border-color: #1f60c2; background: #f8fbff;
                &::after{
                    background-image: url(../images/sub/icon_trl_arrow_blue.png);
                }
                span{color: #1f60c2;}
            }
            &[data-trl="1"] { grid-column: 1; }  /* trl1~2 사이 */
            &[data-trl="2"] { grid-column: 4; }  /* trl3~4 사이 */
            &[data-trl="3"] { grid-column: 7; }  /* trl5~6 사이 */
            &[data-trl="4"] { grid-column: 10;    margin-right: 15px; }  /* trl7~8 사이 */
            &[data-trl="5"] { grid-column: 11; }  /* trl9 위 */
          // 말풍선 꼬리
          &::after {
            content: '';
            position: absolute;
            bottom: -9px; // 말풍선 박스 위쪽으로 이동
            left: 50%;
            transform: translateX(-50%);
            background: url(../images/sub/icon_trl_arrow.png) no-repeat center/18px auto;
            z-index: 2;
            width: 18px;
            height: 10px;
          }
          
          .category_icon {
            width: 46px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 3;
          }
          
          span {
            font-size: $fs-17;
            font-weight: 700;
            color: #333;
            white-space: nowrap;
            line-height: 20px;
            font-family: $ff-suit;
          }
      
        }
      }
    }
    
    .trl_stages {
      margin-bottom: 40px;max-width: 1230px;
     justify-content: space-between;
      display: grid;
        grid-template-columns: repeat(9, 1fr); // trl1 ~ trl9 9등분
        min-width: 1200px; // 최소 너비 설정으로 위치 고정
        position: relative;

      .stage_item {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 65px;
        &:last-child{
            margin-right: 0;
        }
        &:nth-last-child(2){
            margin-right:   30px;
        }
        .stage_circle {
          width: 84px;
          height: 84px;
          border-radius: 50%;
          background: #f4f6f9;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 600;
          color: #000;
          text-align: center;
          line-height: 1.2;
          
          &.active {
            background: #214687;
            color: white;
          }
        }
        
        .arrow {
            position: absolute;
            left: 50%;
            top: -30px;
            width: 0;
            height: 0;
            border-left: 6px solid #454545;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            &::after{
                content: '';
                display: block;
                width:150px;
                height: 1px;
                background: #454545;
                position: absolute;
                top: 50%;
                left: 0;
            }
           
        }
        &:nth-last-child(2){
            .arrow{
                &::after{
                  width: 110px;
                }
            }
        }
        &:last-child{
            .arrow{
                &::after{
                    display: none;
                }
            }
        }
        
      }
    }
  }
  

&+ul{ display: flex; gap: 10px; flex-direction: column; margin-top: 10px;
    >li{ display: flex; gap: 18px; align-items: flex-start;    
        b{color: #1f60c2; width: 74px; height: 34px; line-height: 34px;  font-size: $fs-17; border-radius: 5px; background: #d1e1ff; flex-shrink: 0;
        font-family: $ff-suit; font-weight: 500;   display: block;text-align: center;}
        span{font-size: $fs-17; line-height: 28px; }
            &:last-child{
                b{color: #6d6d6d; background: #f1f1f2;}
            }
    }
}
}


//원장 인사말

.director_wrap{ 
    .director{ position: relative; min-height: 499px; // 최소 높이 설정
        &::before{content: '';  display: block; position: absolute; top: 50px; left: 0; transform: translateX(-20%); width: 100vw; height: 499px;
            background: #f1f3f7 url(../images/sub/director_logo.png) no-repeat bottom right -41px; z-index: 0;}
        &:after{content: '';  display: block; position: absolute; top: -13px; left: calc(50vw + 10px); 
            width: 307px; height: 562px; background: url(../images/sub/img_director.png) no-repeat center; z-index: 1;}
        >div{ position: relative;    padding-top: 120px; max-width: 700px;    height: 549px;
            strong{ background: url(../images/sub/director.png) no-repeat top left/51px auto; padding-top: 46px;
                font-size: $fs-38;  line-height: 50px; font-weight: 500; margin-bottom: 35px;
                span{ vertical-align: baseline;}
            }
            p{line-height: 30px;}
        }
        >b{ margin-top: 50px; font-size: $fs-34; font-weight: 600;}
        >.sign{ font-family: $ff-suit; font-size: $fs-22; font-weight: 700; padding-right: 105px; margin-top: 50px;
            background: url(../images/sub/director_sign.png) no-repeat top 1px right/86px auto; line-height: 40px;

        }
        p{color: #363636;}
    }
    @media (max-width: 1390px){
        .director{ 
            &::before{ background-size: 500px auto;  height: 420px;}
            &::after{ background-size: 260px auto; width: 294px; height: 480px; top: -9px;}
            >div{ padding-top: 90px;height: 470px;
                p{height: auto; max-width: 560px; line-height: 28px; font-size: $fs-15;}
                strong{font-size: 32px; margin-bottom: 24px; line-height: 1.4; background-size: 40px;}
            }
        }
    }

    // 1080px 이하 - 태블릿
    @media (max-width: 1080px){
        .director{ 
            min-height: auto;
            &::before{ 
                top: 30px;
                left: 48%;
                transform: translateX(-50%);
                width: 100%;
                height: 400px;
                background: #f1f3f7 url(../images/sub/director_logo.png) no-repeat center bottom;
                background-size: 350px auto;
                background-position: bottom right -20px;
            }
            &::after{ 
                top: 80px;
                left: 84%;
                transform: translateX(-50%);
                width: 200px;
                height: 350px;
                background: url(../images/sub/img_director.png) no-repeat center;
                background-size: contain;
            }
            >div{ 
                padding-top: 380px;
                height: auto;
                max-width: 100%;
                padding: 38px 30px 0;
                
                strong{ 
                    background-size: 40px auto;
                    padding-top: 50px;
                    font-size: $fs-28; 
                    line-height: 1.3; 
                    margin-bottom: 30px;

                }
                
                p{
                    max-width: 70%;
                    line-height: 1.7; 
                    font-size: $fs-15;
                    margin-bottom: 25px;
                    text-align: left;
                    height: 240px;
                }
            }
            
            >b{ 
                font-size: $fs-24; 
                display: block;
            }
            
            >.sign{ 
                font-size: $fs-18;
                margin-top: 40px;
                text-align: left;
                line-height: 1.5;
                background-size: 70px auto;
                padding-right: 90px;
            }
        }
    }

    @media (max-width: 600px){
        .director{
            &::before{
                height: 500px;
                left: 46%;
            }
            &::after{
                width: 150px;
                height: 310px;
                top: 237px;
                left: 82%;
            }
            >div{    padding: 38px 0px 0;
                p{height: 313px;max-width: 66%; 
                }

            }
        }
    }
    @media (max-width: 450px){
        .director{
            &::before{
                height: 580px;
            }
            &::after{
                width: 119px;
                height: 214px;
                top: 400px;
                left: 85%;
            }
            >div{
                strong{  width: 280px;}
                p{  height: 357px; max-width: 70%;}
            }
        }
    }
}

// 역대원장 스타일
.director_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 48px;
    padding: 60px 0; 
    
    .director_item {
        display: flex;    justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        border: 1px solid #e1e3e1;
        border-radius: 12px;
       height: 430px;
    &.current{  box-shadow: 0 0 5px rgba(0,0,0,0.25);
        border-color: #17469d;
    }
        
        .profile_img {
            width: 226px;
            height: 226px;
            border-radius: 50%;
            overflow: hidden;
            margin: 40px auto;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .profile_info {background: #f4f6f9; width: 100%; padding: 0 30px;
         
                display: flex; justify-content: space-between; align-items: center;
                height: 123px;
                border-radius: 0 0 12px 12px;
                >div{
                    display: flex;gap: 10px;
                        flex-direction: column;
                        align-items: flex-start;
                }
            
            h3 {
                font-size: $fs-22;
                font-weight: 600;
                line-height: 34px; color: #212121;
                display: flex; align-items: center;
                gap: 10px;    word-break: keep-all;
                
                em { flex:1; text-align: left;
                    font-size: $fs-15;
                    color: #17469d;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: -1px;
                    margin-top: 5px;    word-break: keep-all;
                 
                }
            }
            
            .term {
                display: block; color: #676767;
                font-size: $fs-18; letter-spacing: -1px;
            }
            
            .position { 
                width: 64px; height: 64px; line-height: 65px;
                display: block;
                border-radius: 10px;
                font-family: $ff-sbaggro;
                font-size: $fs-16;
                font-weight: 300;
                color: #fff;
                background-color: #17469d;

            }
        }
        
    }
    
 @media (max-width: 1295px){ gap: 30px 20px;}
 
 // 1080px 이하 - 2개씩 나열
 @media (max-width: 1080px) {
     grid-template-columns: repeat(2, 1fr);
     gap: 40px 30px;
     padding: 50px 20px;
     
     .director_item {
         height: 380px;
         
         .profile_img {
             width: 180px;
             height: 180px;
             margin: 30px auto;
         }
         
         .profile_info {
             height: 110px;
             padding: 0 20px;
             
             >div {
                 gap: 8px;
             }
             
             h3 {
                 font-size: $fs-20;
                 line-height: 28px;
                 gap: 7px;
                 
             }
             
             .term {
                 font-size: $fs-16;
             }
             

         }
     }
 }
 
 // 600px 이하 - 1개씩 나열
 @media (max-width: 720px) {
     grid-template-columns: 1fr;
     gap: 30px;
     padding: 0;
     
     .director_item {
         height: 350px;
         }
     }
 }

// 조직안내 스타일
.organization_chart {
    margin: 0 auto;
    .orange{ position: relative;  padding-left: 20px; color: #ff8839 !important;display: inline-block;
        &::before{content: ''; display: block; position: absolute; top: 10px; left: 0; width: 12px; height: 12px; border-radius: 50%; background: #ff8839;}
    }
    .blue{ position: relative;padding-left: 20px; color: #1f60c2 !important; display: inline-block;
        &::before{content: ''; display: block; position: absolute; top: 10px;  left: 0; width: 12px; height: 12px;  background: #1f60c2;}
    }
    .green{ position: relative;padding-left: 20px; color: #1fb1c2 !important;display: inline-block;
        &::before{content: ''; display: block; position: absolute; top: 10px;  left: 0; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 12px solid #1fb1c2;}
    }

    .org_info{
        width: 100%; display: flex; gap: 20px; justify-content: space-between;

        ol{display: flex; gap: 8px;
            li{font-size: $fs-18; min-width: 102px;  border-radius: 16px; padding: 0 20px 0 40px; width: auto;
                height: 32px; font-size: $fs-15; line-height:  32px;
                &::before{ margin-left: 20px;}
                &.orange{ border: 1px solid #ff8839;}
                &.blue{ border: 1px solid #1f60c2; }
                &.green{ border: 1px solid #1fb1c2; }
            }
        }
    }
    .org_header {
        text-align: center;
        margin: 60px 0 50px;
        
        .institution_name {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            padding:0 40px;
            background: #f7eee6;
            border-radius: 12px;
            width: 100%;
            height: 80px;

            
            img {
                width: 56px;
                height: auto;
            }
            h3 {
                font-family: $ff-sbaggro;
                font-size: $fs-24; 
                font-weight: 400;
                margin-top: 5px;
            }
          
        }
    }
    
    
    .org_departments {
     
        .org_branch {
            flex: 1; display: flex; gap: 77px;
            &:first-of-type{
                .branch_head{
                    &::after{
                        content: ''; display: block; background: #dddddd; 
                        position: absolute; top: -50px; left: 50%; width: 1px; height: 50px;
                    }
                }
            }
              
            
            &:last-of-type{
                .branch_head{
                    &::before{
                        display: none !important;
                    }
                }
            }
               
            .branch_head {
                text-align: center;
                position: relative;
                  &::before{
                    content: ''; display: block; background: #dddddd; 
                    position: absolute; top: 0; left: 50%; width: 1px; height: 100%;
                }
                
                .org_circle {
                    display: inline-block;
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                    background: #1f60c2;
                    color: white;
                    font-family: $ff-sbaggro;
                    font-size: $fs-22;
                    font-weight: 300;
                    line-height: 160px;
                    text-align: center;
                    position: relative;
                
                    
                    &[data-type="blue"] {
                        background: #1f60c2;
                    }
                    
                    &[data-type="green"] {
                        background: #1fb1c2;
                    }

                    &[data-type="skyblue"] {
                        background: #3193de;
                    }
                }
            }
            
            .branch_content { flex:1; margin-bottom: 78px;
                .org_row {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    
                    .org_group {
                        flex: 0 0 calc(33.333% - 20px);
                        min-width: 0;
                        display: flex;
                        gap: 6px;
                        flex-direction: column;
                        
                        .group_title {
                            background: #f4f6f9;
                            padding:0 15px;
                            font-family: $ff-suit;
                            font-size: $fs-18;
                            font-weight: 500;
                            color: #000;
                            text-align: center;
                            height: 50px; line-height: 50px;
                            border-radius: 6px;
                         
                           
                            &[data-type="blue"]{ background: #e4ebf5;   border: 1px solid #e4ebf5; }
                            &[data-type="green"]{ background: #e6eeef;  border: 1px solid #e6eeef;}
                            
                            &:hover{
                                border-color: #000;
                            }
                         
                        }
                        
                        .group_items {display: flex; gap: 4px; flex-direction: column;
                            .org_item { text-align: center; border-radius: 6px;
                                width: 100%;
                                height: 44px;
                                line-height: 44px;
                                padding: 0 15px;
                                font-size: $fs-16;
                                color: #444;
                                border: 1px solid #dbdbdb;
                                background: white;
                                transition: all 0.3s ease;
                                
                                
                                .orange, .green, .blue{
                                    &::before{   top: 15px; }
                                }

                                &:hover {
                                 border-color: #444;
                                }
                                
                            
                            }
                        }
                    }
                }
            }
        }
    }
    
    // 1080px 이하 - 반응형
    @media (max-width: 1080px) {
        .org_info{ flex-direction: column;
            ol{ gap: 5px;
                li{font-size: 14px;min-width: auto;padding: 0 10px 0 29px;
                    &::before{margin-left: 10px;}
                }
            }
        }
        
        .org_header {
            .institution_name {
                h3{font-size: 20px;}
            }
        }
        
        
        .org_departments {            
            .org_branch { gap: 30px;
                .branch_head {
                    .org_circle {
                        width: 100px;
                        height: 100px;
                        line-height: 102px;
                        font-size: 20px;
                    }
                }
                
                .branch_content { margin-bottom: 40px;
                    .org_row {
                        .org_group {
                            flex: 0 0 calc(50% - 15px);
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 645px){
        .org_departments {            
            .org_branch { gap: 10px;
                
                .branch_content {
                    .org_row {
                        .org_group {
                            flex: 0 0 calc(100%);
                        }
                    }
                }
            }
        }
    }
      
}
// 안전경영 정책 페이지
.policy_wrap{border: 1px solid #1f60c2; padding: 20px;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      width: 171px;
      height: 171px;
      z-index: 0;
      background: url(../images/sub/icon_policy.png) no-repeat center center;
    }
  
    &::before {
        top: 50px;
        left: 50px;
        transform: rotate(270deg);
    }
  
    &::after {
        top: 50px;
        right: 50px;
        transform: rotate(0deg);
       
    }

    
    .safety_policy { border: 1px solid #1f60c2; position: relative;
        padding: 150px 90px 180px ;

        &::before,
        &::after {
          content: "";
          position: absolute;
          background-repeat: no-repeat;
          background-size: contain;
          width: 171px;
          height: 171px;
          z-index: 0;
          background: url(../images/sub/icon_policy.png) no-repeat center center;
        }
      
        &::before {
            bottom: 20px;
            left: 20px;
            transform: rotate(180deg);
        }
      
        &::after {
            bottom: 20px;
            right: 20px;
            transform: rotate(90deg);
       
        }

        h3{
            font-size: $fs-48;
            font-weight: 600;
           color: #17469d;
            text-align: center;
            margin-bottom: 40px;
            line-height: 1.4;
        }
        
        .policy_intro {
            text-align: center;
            margin-bottom: 50px;
            
            p {
                font-size: $fs-18;
                line-height: 1.6;
                color: #444;
            }
        }
        
        .policy_list { background: #f4f6f9 url(../images/sub/policy_logo.png) no-repeat center bottom; margin-top: 50px; padding: 66px 80px;
           > li {
                border-bottom: 1px dashed #cacccf;
                display: flex;
                align-items: flex-start;
                align-items: center;
                gap: 30px;
                padding: 30px 0;
                &:last-of-type{border-bottom: none; padding-bottom: 0;}
                &:first-of-type{padding-top: 0;}
                
                .item_number {
                    flex-shrink: 0;
                    width: 86px;
                    height: 86px;
                    background-color: #1f60c2;
                    color: $color-wh;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: $fs-20;
                    font-weight: 600;
                    margin-top: 5px;
                }
                
                .item_text {
                    flex: 1;
                
                    p {
                        font-size: $fs-18;
                        line-height: 1.65;
                        margin: 0;
                    }
                }
            }
        }

    }
    @media (max-width: 1080px) { 
        padding: 15px;
        
        &::before,
        &::after {
            width: 120px;
            height: 120px;
        }
        
        &::before {
            top: 30px;
            left: 30px;
        }
        
        &::after {
            top: 30px;
            right: 30px;
        }
        
        .safety_policy{
            padding: 60px 30px 80px;
            
            &::before,
            &::after {
                width: 120px;
                height: 120px;
            }
            
            &::before {
                bottom: 15px;
                left: 15px;
            }
            
            &::after {
                bottom: 15px;
                right: 15px;
            }
            
            h3{
                font-size: $fs-32;
                margin-bottom: 30px;
            }
            
            .policy_intro {
                margin-bottom: 40px;
                
                p {
                    font-size: $fs-16;
                    line-height: 1.5;
                    
                    br {
                        display: none;
                    }
                }
            }
            
            .policy_list {
                padding: 40px 30px;
                margin-top: 40px;
                
                > li {
                    padding: 20px 0;
                    gap: 20px;
                    
                    .item_number {
                        width: 70px;
                        height: 70px;
                        font-size: $fs-18;
                    }
                    
                    .item_text p {
                        font-size: $fs-16;
                        line-height: 1.6;
                    }
                }
            }
        }
    }
    
    @media (max-width: 800px) {
        background-size: 350px auto;
        padding: 10px;
        
        &::before,
        &::after {
            width: 80px;
            height: 80px;
        }
        
        &::before {
            top: 20px;
            left: 20px;
        }
        
        &::after {
            top: 20px;
            right: 20px;
        }
        
        .safety_policy{
            padding: 40px 20px 60px;
            
            &::before,
            &::after {
                width: 80px;
                height: 80px;
            }
            
            &::before {
                bottom: 10px;
                left: 10px;
            }
            
            &::after {
                bottom: 10px;
                right: 10px;
            }
            
            h3{
                font-size: $fs-28;
                margin-bottom: 25px;
                line-height: 1.3;
            }
            
            .policy_intro {
                margin-bottom: 30px;
                
                p {
                    font-size: $fs-15;
                    line-height: 1.5;
                }
            }
            
            .policy_list {
                padding: 30px 20px;
                margin-top: 30px;
                
                > li {
                    padding: 15px 0;
                    gap: 15px;
                    
                    .item_number {
                        width: 60px;
                        height: 60px;
                        font-size: $fs-16;
                    }
                    
                    .item_text p {
                        font-size: $fs-15;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
    
    @media (max-width: 600px) {
        padding: 5px;
        
        &::before,
        &::after {
            display: none;
        }
        
        .safety_policy{
            padding: 30px 15px 40px;
            
            &::before,
            &::after {
                display: none;
            }
            
            h3{
                font-size: $fs-24;
                margin-bottom: 20px;
                line-height: 1.2;
            }
            
            .policy_intro {
                margin-bottom: 25px;
                
                p {
                    font-size: $fs-15;
                    line-height: 1.5;
                }
            }
            
            .policy_list {
                padding: 20px 10px;
                margin-top: 25px;
                background-size: 300px auto;
                
                > li {
                    flex-direction: column;
                    text-align: center;
                    padding: 12px 0;
                    gap: 10px;
                    
                    .item_number {
                        align-self: center;
                        width: 50px;
                        height: 50px;
                        font-size: $fs-15;
                        margin-top: 0;
                    }
                    
                    .item_text {
                        text-align: left;
                        
                        p {
                            font-size: $fs-15;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }
    

}



// 대외협력현황 
.map_wrap {
    width: 100%;  position: relative;display: flex; height: 580px; align-items: center;
      justify-content: center;
        img{position: relative; z-index: 1; height: auto;}
        &::before{content: '';  display: block; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100vw; height: 580px;
        background: #eef3f9; z-index: 0;}

    @media (max-width: 720px) { height: 500px;
        &::before{height: 500px;}
    }

    @media (max-width: 550px) { height: 350px;
        &::before{height: 350px;}
    }
    @media (max-width: 460px) { height: 240px;
        &::before{height: 240px;}
    }
}