.sub_tit{ font-size: $fs-34;; font-weight:400; font-family: $ff-sbaggro; margin-bottom: 30px; line-height: 1;
    &::after {
        content: ''; display: inline-block;  width: 10px; height: 10px;
        border-radius: 50%;  background-color: $color-blue2; margin-left: 11px;
        vertical-align: bottom; margin-bottom: 7px;
    }
    @media (max-width: 1080px) {font-size: $fs-21; margin-bottom: 20px;
        &::after{
            width: 6px; height: 6px;margin-bottom: 3px;margin-left: 5px;
        }
    }
}
.sub_tit_md{ font-size: $fs-24; font-weight: 500; font-family: $ff-sbaggro; margin: 40px 0 24px; line-height: 1;
    @media (max-width: 1080px) {font-size: $fs-18; margin-bottom: 15px;
        &::after{
            width: 6px; height: 6px;margin-bottom: 10px;margin-left: 5px;
        }
    }
}
.sub_txt{font-size: $fs-18; line-height: 28px; margin-top: 24px;
    @media (max-width: 1080px) {font-size: $fs-15; line-height: 21px; margin-bottom: 40px !important;}
}



//연구분야 - 연구소개
.intro_box{
    .intro_visual{  position: relative;
        background-position: center;background-size: cover;background-repeat: no-repeat;
        width: 100%; height: 630px; border-radius: 20px;color: $color-wh;display: flex;flex-direction: column;
        justify-content: flex-end;align-items: flex-end;text-align: right;
       >div{ position: absolute; bottom: 13%; right: 15%;
        h3{ font-family: $ff-sbaggro; font-size: $fs-58;
            color: $color-wh; font-weight: 500; line-height: 1.3;
        }
        b{font-family: $ff-sbaggro; color: #222; display: block;  margin: 0px 0 15px;font-size: $fs-38; text-transform: uppercase; font-weight: 300;}
        span{ font-size: $fs-34; font-weight: 300; }
       }
      
        &.bg01{
            background-image: url(../images/sub/intro_bg_01.png);
        }
        &.bg02{
            background-image: url(../images/sub/subBg_02.png); 
        }
    }
    .intro_content{ @include w1300; margin-top: 98px;
        h4{
            font-size: $fs-36; font-weight: 700; font-family: $ff-suit;
            margin-bottom: 45px; line-height: 54px;
        }
        .flex_col{ gap: 40px;}
        p{font-size: $fs-19; line-height: 34px;}
    }
    .goals{ display: flex; flex-wrap: wrap; gap: 27px;padding: 100px 78px; background: #dceefb;margin-top: 98px;width: calc(100% + 60px); max-width: unset !important;
            margin-left: -30px;
            li{ width: calc((100% - 66px) / 3); background: $color-wh; border-radius: 20px; box-shadow: 5.7px 8.2px 18px 0 rgba(0, 0, 0, 0.1);
                display: flex; flex-direction: column; gap: 10px; padding: 35px 50px; text-align: center; 
                b{ font-size: $fs-20; font-weight: 700; color: $color-grey1;}
                p{font-size: $fs-17;color: $color-grey1; word-break: keep-all; line-height: 26px;}
                &:first-of-type{ padding: 27px 29px;
                    b{text-align: left; color: $color-wh; width: 70px;}
                    background: $color-blue url(../images/sub/icon_goals.png) no-repeat bottom 27px right 29px;
                }
            }
        
    }
    .area{ @include w1300; margin-top: 98px;
        .flex{justify-content: space-between;
            li{ width: 360px;
                a{ display: flex; flex-direction: column; gap: 35px;
                     img{ transition: all 0.3s; width: 360px;}
                     b{font-size: $fs-22; font-weight: 700;}
                     &:hover{
                        img{ border-radius: 20px;
                            box-shadow: 5.7px 8.2px 18px 0 rgba(0, 0, 0, 0.3);
                        }
                     }
                 }
            }
        }
    }

    @media (max-width: 1080px) {
        .intro_visual{margin-bottom: 195px;height: 160px;
            >div{right:unset;bottom: -144px; left: 0; text-align: left;
                h3{ color: $color-grey1; font-size: $fs-28;}
                b{ color: $color-blue2; font-size: $fs-16; font-weight: 500; }
                span{ color: $color-grey3; font-size: $fs-16;}
            }
        }
        .intro_content{width: calc(100% + 60px); max-width: unset !important; margin-left: -30px; background: #f6f3f0; padding: 47px 30px;  
            h4{font-size: $fs-24; margin-bottom: 25px; line-height: 34px;}
            p{font-size: $fs-15; line-height: 22px;}
            .flex_col{gap: 20px;}
        }
        .goals{margin-top: 0; padding: 50px 30px; gap: 10px 8px;
            li{ width: calc((100% - 8px) / 2); padding: 22px 15px;

                b{font-size: $fs-16; }
                p{font-size: $fs-14; line-height: 20px;}
                &:first-of-type{
                    background-size: 40px auto; padding: 20px;
                    background-position: bottom 14px right 14px;
                    b{width: 100%;}
                }
            }
        }
        .area{ margin-top: 50px; padding: 0;
            .flex{
                &.swiper-wrapper{
                    li{width: 220px;
                        &.swiper-slide-active, &.swiper-slide-next, &.swiper-slide-next + li {
                            opacity: 1;
                        }
                    }
                }
                li{width: 220px;
                    a{gap: 15px;
                        img{ width: 220px; height: 140px;}
                        b{font-size: $fs-15;}
                    }
                }
            }
        }
    }
 
}

// 구성원 소개
.member_list{ display: flex; gap: 30px 50px; flex-wrap: wrap;
    >li{width: calc(50% - 25px); background: $color-grey4; border-radius: 10px; padding: 34px 30px;display: flex; gap: 10px; height: 270px;
        .info{display: flex; flex-direction: column; gap: 40px; width: calc(100% - 56px);
            h4{ font-size: $fs-24; font-family: $ff-sbaggro; margin-top: 20px; font-weight: 400;
                span{font-size: $fs-16; color: $color-grey1; font-family: $ff-suit;}
            }
            ol{ flex-wrap: wrap; display: flex; gap: 8px 70px; width: 100%;
                >li{ font-size: $fs-17; font-family: $ff-sbaggro; font-weight: 300;
                }
                .call{ padding-left: 36px; width: 175px;
                    background: url(../images/sub/member_call_blue.png) no-repeat top left;
                }
                .email{ padding-left: 36px; 
                    background: url(../images/sub/member_email_blue.png) no-repeat top 2px left;
                    &:hover{text-decoration: underline; text-underline-offset: 4px;}
                    a{background: url(../images/sub/member_email_outlink.png) no-repeat top 1px right; padding-right: 27px;}
                }
                .job{ padding-left: 36px; width: 100%;  @include elli2; height: 44px;
                    background: url(../images/sub/member_job_blue.png) no-repeat top left;
                  
                }
            }
          
        }

        .flex_col{ display: flex; gap: 10px; align-items: center; justify-content: space-between;
            .link{ background: url(../images/sub/member_home.png) no-repeat center center; display: block;
                width: 46px;height: 46px;
            }
            button{ margin-top: auto; display: block;background: url(../images/sub/member_more_black.png) no-repeat center/25px; padding: 0 10px; width: 45px; height: 25px;}
        }
        &:hover{ background-color: $color-blue2;
            .info{
                h4{color: $color-wh;
                    span{color: $color-wh;}
                }
                ol{
                    li{color: $color-wh;}
                    .call{background-image: url(../images/sub/member_call.png);}
                    .email{background-image: url(../images/sub/member_email.png);
                     a{background-image: url(../images/sub/member_email_outlink_white.png);}
                    }
                    .job{background-image: url(../images/sub/member_job.png);}
                   
                }
            }
            .flex_col{
                button{background-image: url(../images/sub/member_more_white.png); cursor: pointer;}
            }
        }
    }    

    @media (max-width: 1080px) {flex-direction: column; gap: 15px;
            >li{width: 100%; justify-content: space-between; height: auto; padding: 20px 25px 15px;
                .info{gap: 17px;
                    h4{margin-top: 0; font-size: $fs-20; 
                        span{font-size: $fs-16; margin-bottom: 3px; font-weight: 600;}
                    }
                    ol{flex-direction: column; gap: 15px;
                        >li{font-size: $fs-15;background-size: 16px auto !important;
                            padding-left: 25px !important;}
                         
                       // .job{height: 22px; line-height: 22px; @include elli;}

                    }
                }
                .flex_col{
                    .link{background-size: 32px auto !important; width: 32px; height: 32px;}
                    button{background-size: 20px auto !important; width: 30px; height: 30px;}
                }
            }
        
    }

}

// ※ 표시가 있는 안내 문구
.mark {
    position: relative;
    padding-left: 0;
    color: $color-grey6 ;
    font-size: $fs-16;
    display: block;
    line-height: 24px; padding-left: 20px;
    
    &::before {
        content: '※ ';
        color: $color-grey6 ;
        font-weight: 400;
        position: absolute; left: 0; top: 0;
    }
    @media (max-width: 1080px) {
        font-size: $fs-15;
    }
}


//개인정보 수집 및 이용 동의 
//공통 스타일
.agree_box{margin-bottom: 60px;
    > .scroll {  border-radius: 14px; padding:40px 30px;border: 1px solid #cecece; font-size: $fs-17;
        p{font-size: $fs-17; margin-bottom: 20px;line-height: 28px;}
        .table{ margin-bottom: 20px;
            table{
                td{font-size: $fs-16; line-height: 28px;}
            }
            & + p {margin-bottom: 0px; }
        }
      &.scroll { @include scrollBar2; max-height:408px;overflow-x:hidden;overflow-y:auto; padding:40px 40px 40px 30px;}
    } 
    
    .type_list {border:1px solid #b4b4b4;padding:0 30px;background-color:#f7f7f9;
      li{padding:14px 0;
        label {color:#2e3345;vertical-align:-7px;
          span {color:#4b6de9;}
        }
      }
    }
    
    .radio{margin-top: 22px; display: flex; justify-content: space-between; align-items: center; background: #f4f5f7; border-radius: 14px; padding: 18px 52px;
        ul{width: 300px;    justify-content: flex-end;}
    }
    @media (max-width: 1080px){
        .table{
            th,td{height: auto;}
        }
        .radio{padding: 18px 25px; flex-direction: column; align-items: flex-start;
            p{font-size: $fs-17; margin-bottom: 10px;}
            ul{width: 100%;
                li{margin-right: 0 !important; width: 50%;}
            }
        }
    }
  }

  //신청상세 -파일
  .file{ 
    a{display: block; font-size: $fs-17; line-height: 28px; color: #2d2c2d; padding-left: 30px; 
        background: url(../images/sub/icon_file3.png) no-repeat left top 6px;

    }
  }



  //본인확인서비스
  .certifin_box{ display: flex; border: 1px solid $color-blue2; border-radius: 20px; padding: 50px 0;align-items: center; justify-content: center;
    >div{ width: 33.33%; display: flex; flex-direction: column; align-items: center; justify-content: center; border-right: 1px dotted #c6c6cc;
        &:last-of-type{border-right: none;}
        img{margin-bottom: 40px; display: block;}
        strong{font-size: $fs-23;line-height: 32px; font-family: $ff-suit; font-weight: 600; margin-bottom: 28px;}
        p{text-align: center; margin-bottom: 50px;}
        >a{display: block; border-radius: 7px; border: 1px solid $color-bk; padding: 0 20px; background: url(../images/sub/icon_certifin_arrow_black.png) no-repeat center right 20px;
            width: 244px; height: 56px; line-height: 56px; font-size: $fs-17; font-family: $ff-suit; font-weight:600; color: $color-grey6;
            color: #444; transition: all 0.3s;
            &:hover{color: $color-wh; background: $color-blue2 url(../images/sub/icon_certifin_arrow_white.png) no-repeat center right 20px; border-color: $color-blue2;}
        }
    }
    @media (max-width: 1080px) {
        flex-direction: column; padding: 35px 25px;
        >div{ width: 100%; border-right: none; border-bottom: 1px dotted #c6c6cc; padding: 30px 0;
            &:first-of-type{padding-top: 5px;}
            &:last-of-type{border-bottom: none; padding-bottom: 5px;}
            img{width: 45px; height: auto; margin-bottom: 20px;}
            strong{font-size: $fs-18; line-height: 28px; margin-bottom: 15px;}
            p{font-size: $fs-15; line-height: 20px; margin-bottom: 30px;}
            >a{width: 180px; height: 40px; line-height: 40px; font-size: $fs-14; padding: 0 15px; background-size: 7px auto; background-position: center right 15px;}
        }
    }
  }


  //조직안내
  .department_info{ margin-bottom: 40px;
    border-radius: 30px; background: $color-grey4; padding: 40px 45px;  background: url(../images/common/sitemap_bg_logo.png) no-repeat bottom right -45px/612px auto;
    >ul{
        >li{font-size: $fs-18; margin-bottom: 20px; font-family: $ff-suit;
            &:last-of-type{margin-bottom: 0;}
            ol{ display: flex; flex-direction: column; gap: 5px; margin-top: 5px;
                li{font-family: $ff-suit; font-size: $fs-18; }
            }
        }
    }
  }


  //신청하기 화면 공통

  .apply{ display: flex; gap: 39px;
    >a{ display: flex; align-items: center; justify-content: center; width: calc(50% - 19.5px); height: 160px; background: #f4f6f9 url(../images/sub/icon_apply_arrow.png) no-repeat center right 48px; padding-right: 60px; border-radius: 20px; 
        span{display: block;  font-family: $ff-sbaggro; font-size: $fs-24; font-weight: 500;
            padding-left: 89px; height: 54px; line-height: 54px;background: url(../images/sub/icon_apply_01.png) no-repeat center left/ 46px auto;
        }

        &:last-of-type{
            span{background-image: url(../images/sub/icon_apply_02.png);}
        }
    
    }

    @media (max-width: 1080px) {
        flex-direction: column; gap: 10px;
        >a{width: 100%; height: 90px; justify-content: flex-start; padding-left: 28px; padding-right: 50px; background-size: 9px auto; background-position: center right 38px;
            span{font-size: $fs-17; padding-left: 50px; height: 40px; line-height: 40px; background-size: 33px auto;}
            &:last-of-type{ padding-left: 38px;
                span{background-size: auto 26px; padding-left: 41px; }
            }
        }
    }
  }


  //  지식재산권, 기술소개자료(SMK), 


.search-area { position: relative; z-index: 0; margin-bottom: 15px;
    &::before {
        content:"";
        position:absolute; inset:0 auto 0 50%;
        width: 100vw; transform: translateX(-50%);
        background: #f9fafb; z-index:-1; border-bottom: 1px solid #000000; border-top: 1px solid #000000;
      }

.cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.col {
  border: 1px solid #000000;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-right: unset;
  &:last-of-type{border-right: 1px solid #000000;}
  &:focus-within{border-color: #1f60c2; border-right: 1px solid #1f60c2;
    .col-title{background: #1f60c2; color: #fff;}
    +.col{border-left: unset;}
}

}
.col-title{ background: #f9fafb; text-align: left;
    height: 60px; font-family: $ff-suit; font-size: $fs-18; font-weight: 600;
    padding: 0 30px; border-bottom: 1px solid #e0e2e6;
}
.acc-head {
  margin: 0;
  .acc-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 12px 14px;
    font-weight: 700;
    font-size: 14px;
    border: 0;
    cursor: pointer;

    // &:focus-visible { outline: 2px solid $focus; outline-offset: 2px; }

    .caret {
      width: 16px; height: 16px; display: inline-block;
     // border-right: 2px solid $ink; border-bottom: 2px solid $ink;
      transform: rotate(45deg);
      transition: transform .2s ease;
    }
    &[aria-expanded="true"] .caret { transform: rotate(-135deg); } // 위쪽 화살표
  }
}

.acc-panel {
  padding: 6px 8px 12px 8px;
}

/* ---------- List items with hidden checkbox ---------- */
.list {
  margin: 0;
  padding: 10px;
  max-height: 280px;
  overflow-y: auto;  background: #fff;

  li { margin: 2px 0; }

  .item {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    user-select: none;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    span { flex: 1; font-size: $fs-17; color: #2c2c2f; line-height: 48px; padding: 0px 20px;
        
    }

    &:hover { background: #f9fafb; }

    // 선택 상태
    input:checked + span {
      background: #eff6ff;
      border-radius: 6px;
      display: block;
      color: #1f60c2;
      font-weight: 600;
    }
  }
}

/* ---------- Selected Chips ---------- */
.selected-area{ border-left: 1px solid #000000; border-right: 1px solid #000000;padding: 22px 30px;
    background: #fff;
    h3{ font-family: $ff-suit; font-size: $fs-18; font-weight: 600; margin-bottom: 15px;}
      
        .chips { color: #1f60c2; margin: 0; padding: 0;
          display: flex; flex-wrap: wrap; flex-direction: column;gap: 5px;
        }
      
        .chip {
          display: inline-flex; align-items: center; gap: 10px; font-size: $fs-15; 
      
        }
        .chip-remove{
            background: url(../images/sub/chip-remove.png) no-repeat center center/13px auto; width: 20px; height: 20px;
        }
}


/* ---------- Search controls ---------- */
.search{margin: 0;border-radius: unset;border: 1px solid #000000;}

/* ---------- Responsive ---------- */
    @media (max-width: 1080px) {
       width: calc(100% + 30px); margin-left: -15px;
            &:before{border-top: 0; border-bottom: 0;
            }
            .col-title{height: 50px; font-size: $fs-16; position: relative; padding-right: 20px;
                &:after{content: ''; position: absolute; right: 10px; top: 0; display: block; background: url(../images/sub/icon_lnb_down.png) no-repeat center/11px auto; 
                    width: 50px; height: 50px; transition: transform 0.3s ease;}
            }
        

        .cols { grid-template-columns: 1fr; gap: 0;  border-bottom: 1px solid #000000;}
        .col { border-radius: 0; border: 0; border-top: 1px solid #000;
            &.active {
              .list {
                display: block;
              }
              .col-title:after {
                transform: rotate(180deg);
              }
            }
            &:focus-within{border-right:unset;border-color:#000000;
                .col-title{background: none; color: #000000; border-top: 0;
                }
            }
            &:last-of-type{border-right:0;}
        }
        //.acc-head .acc-btn { font-size: 16px; padding: 16px 18px; }
        //   .acc-panel { padding: 8px 18px 16px 18px; border-bottom: 1px solid $line; }
        .list { max-height: none; display: none;
            .item{ height: 35px; line-height: 35px;
                span{ font-size: $fs-15; line-height: 35px;}
            }
        }
        .selected-area{display: none; border-left: 0; border-right: 0; border-bottom: 0; padding: 15px 30px;}
        .search{border: 1px solid #e1e3e1; border-radius: 10px; margin: 30px 15px 25px;}
    }

    // @media (max-width: 640px) {
    // .controls { grid-template-columns: 1fr; }
    // .controls .btn { width: 100%; }
    
    // }

}


//  기술소개자료 상세 페이지
.investigator{
    position: relative; min-height: 400px; // 최소 높이 설정
    padding: 60px 0; // 상하 패딩 추가
    &::before{content: '';  display: block; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100vw; height: 100%;
        background: url(../images/sub/TEC_bg.png) no-repeat center/cover; z-index: 0;}
   
    >div{ max-width: 1360px; margin: 0 auto; display: flex; position: relative; z-index: 1; padding: 0;
        align-items: center;
        img{width: 270px; height: auto; margin-right: 85px;}
        h3{color: $color-wh; font-size: $fs-44; font-family: $ff-sbaggro; font-weight: 500; line-height: 54px; 
            margin-bottom: 25px;}
        b{font-size: 40px; font-family: $ff-suit;  color: #ffb763; 
            display: flex; align-items: center; gap: 20px;
            span{font-weight: 700; color: $color-wh; letter-spacing: 3px;}
        }
        >.flex_col{ gap: 10px; margin-left: auto;
            a{width: 230px; border: 2px solid #fff; color: #fff; border-radius: 8px; height: 62px; line-height: 62px; padding: 0 20px; font-size: $fs-19; font-family: $ff-suit;
                 background: url(../images/sub/TEC_arrow.png) no-repeat center right 20px;}
        }
    }
    @media (max-width: 1080px) {
        >div{  flex-direction: column;
            img{  width: 240px;margin-right: 0; margin-bottom: 20px;}
                h3{line-height: 1.4em; margin-bottom: 10px; font-size: $fs-34; text-align: center;}
                b{ font-size: $fs-30;justify-content: center;}
                >.flex_col{margin: 20px auto 0; flex-direction: unset;
                a{    height: 50px; width: 160px;
                    line-height: 49px;
                    font-size: 16px;
                    background-size: 6px auto;
                    padding: 0 12px;
                    background-position: center right 10px;}
                }

        }
    }

}

.grey_box{ background: #f4f6f9; border-radius: 10px; padding: 32px 30px;
    b{font-size: $fs-20; font-family: $ff-suit; font-weight: 600; margin-bottom: 10px; line-height: 28px;}
    ul{
        li{font-size: $fs-17; line-height: 28px;
        }
    }
}