//============헤더 높이=========//
$header-height: 85px;


//============컬러============//
$color-bk : #000;
$color-wh : #fff;
$color-wh2 : #f9f9f9;
$color-grey1 : #222;
$color-grey2:#666;
$color-grey3 : #333;
$color-grey4 : #f8f8f8;
$color-grey5 : #dbdbdb;
$color-grey6 : #2d2c2d;
$color-skyblue : #177ac8;
$color-blue: #1f60c2;
$color-blue2 : #17469d;
$color-blue3 : #1d5fe8;
$color-blue4 : #254093;
$color-blue-light : #f1f5fc;
$color-blue-light2 : #f2f6fc;
$color-orange:#e9a027;
$color-greenblue: #1fb1c2;



$placeholder : #4c4e5a; //placeholder
.link{color: $color-blue;} 
.blue {color: $color-blue3;}
.blue2{color: $color-blue2;}
$bor_form : #dbdee1;
$bor_gray : #e1e3e1;


//============반응형 중단점=========//
$container: 1920px;
$pc1200: 1200px;
$tb1080: 1080px;
$m720: 720px;

//============width============//
$w1500 : 1500px;
$w1300 : 1300px;
$w1100 : 1100px;
$w1000 : 1000px;
$w900 : 900px;
$w720 : 720px;


//============font-size=========//
$fs-10:0.625rem;// 10px
$fs-11:0.6875rem;// 11px
$fs-12:0.75rem;// 12px
$fs-13:0.8125rem;// 13px
$fs-14:0.875rem;// 14px
$fs-15:0.9375rem;// 15px
$fs-16:1rem;// 16px
$fs-17:1.0625rem;// 17px
$fs-18:1.125rem;// 18px
$fs-19:1.1875rem;// 19px
$fs-20:1.25rem;// 20px
$fs-21:1.3125rem;// 21px
$fs-22:1.375rem;// 22px
$fs-23:1.4375rem;// 23px
$fs-24:1.5rem;// 24px
$fs-25:1.5625rem;// 25px
$fs-26:1.625rem;// 26px
$fs-28:1.75rem;// 28px
$fs-30:1.875rem;// 30px
$fs-32:2rem;// 32px
$fs-34:2.125rem;// 34px
$fs-36:2.25rem;// 36px
$fs-38:2.375rem;// 38px
$fs-40:2.5rem;// 40px
$fs-44:2.75rem;// 44px
$fs-46:2.875rem;// 46px
$fs-48:3rem;// 48px
$fs-58:3.625rem;// 58px
$fs-60:3.75rem;// 60px



//============font-weight============//
.fw400{font-weight: 400;}
.fw500{font-weight: 500;}
.fw600{font-weight: 600;}
.fw700{font-weight: 700;}
.fw800{font-weight: 800;}
.fw900{font-weight: 900;}

$w1300 : 1300px;
$w1100 : 1100px;
$w1000 : 1000px;
$w900 : 900px;
$w720 : 720px;
//============size============//
.w100{width: 100px}
.w130{width: 130px;}
.auto{flex: 1;}
.w150{width: 150px;}

//css : margin 
.m0	{margin: 0 !important;}
.mb00	{margin-bottom: 0;}
.mb05	{margin-bottom: 5px;}
.mb10	{margin-bottom: 10px;}
.mb15	{margin-bottom: 15px;}
.mb20	{margin-bottom: 20px;}
.mb25	{margin-bottom: 25px;}
.mb30	{margin-bottom: 30px;}
.mb35	{margin-bottom: 35px;}
.mb40	{margin-bottom: 40px;}
.mt100	{margin-top: 100px;}
.mt110	{margin-top: 110px;}
.mt40	{margin-top: 40px;}


//============...처리 ============//
@mixin w1300 { max-width: 1360px; padding: 0 30px; margin: 0 auto; 
    @media (max-width: 900px) {padding: 0 15px;}
  }
@mixin both { display: block; content: ""; clear: both; }
@mixin elli { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
@mixin elli2 { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis;}
@mixin elli_no {display: block; -webkit-line-clamp: unset; -webkit-box-orient: unset; overflow: visible; text-overflow: unset; white-space: normal;}



//============레이아웃 정렬============//

// 영역나누기
.flex { display: flex; align-items: center;}
// 좌우정렬
.flex_LR { display: flex; align-items: center; justify-content: space-between;}
// 왼쪽 중앙 오른쪽
.flex_LCR { display: flex; justify-content: space-between; align-items: center; 
    .flex_1 {flex: 1;} 
}
//위아래 나누기
.flex_col{display: flex; flex-direction: column;}

// 오른쪽 정렬
.flex_R { display: flex; justify-content: end; align-items: center;}
// 중앙 정렬
.flex_C { display: flex; justify-content: center; align-items: center;}
// 균등하게
.flex_n { display: flex; justify-content: space-between; 
    & > * {flex: 1;} 
}
// 왼쪽 너비고정
.flex_nF { display: flex; justify-content: center; align-items: center; 
    > div { &:first-child {flex: 1;} } 
    @media (max-width: 1080px) {display: block}
}
// 오른쪽 너비고정
.flex_Fn { display: flex; justify-content: center; align-items: center; 
    > div { &:last-child {flex: 1;} } 
    @media (max-width: 1080px) {display: block}
}
// 리스트
.flex_list { 
    display: flex; flex-wrap: wrap; align-items: center; 
    > div { &:last-child {flex: 1;} } 
    @media (max-width: 1080px) {display: block}
}
.btn_box{
    text-align: right; margin-top: 30px;

    @media (max-width: 1080px) {
        margin: 30px 0 0;
    }
    button,a{text-align: center;}
}


/*요소중앙정렬*/
@mixin align($align,$font-size){
    font-size:0;
    &:before{display:inline-block;height:100%;content:''; vertical-align:$align;}
    > :nth-child(n) {font-size:$font-size;display:inline-block;vertical-align:$align;}
}
  
/*아이템 정렬*/
@mixin ftItem($i,$pd){
    > :nth-child(n){
        float:left;
        $width-percent: (100 / $i) * 1%;
        $margin-px: (($i - 1) * $pd / $i) * 1px;
        width:calc(#{$width-percent} - #{$margin-px});
        margin-right:#{$pd}px;
    }
    > :nth-of-type(#{$i}n){margin-right:0;}
}
  
  
  
//============스크롤바============//
@mixin scrollBar{
&::-webkit-scrollbar {
    width: 6px;
    height:6px;
}
&::-webkit-scrollbar-thumb {
    background-color: #17469d;
    border-radius: 6px;
}
&::-webkit-scrollbar-track {
    background-color: #d4d4d4;
    border-radius: 6px;
}
}
@mixin scrollBar2{
&::-webkit-scrollbar {
    width: 8px;
    height:8px;
}
&::-webkit-scrollbar-thumb {
    background-color: #8b8b8b;
    border-radius: 8px;
}
&::-webkit-scrollbar-track {
    background-color:#f7f7f9;
    border-radius: 8px;
    width: 15px;
}
}
  
  
  
@mixin maxWidth($width){
    @media screen and (max-width:$width){
        @content;
    }
}
@mixin minWidth($width){
    @media screen and (min-width:$width){
        @content;
    }   
}

//블릿 적용
.dot{ 
    > li{ position: relative; padding-left: 16px !important;
        &:before{position: absolute; content: ''; display: block;left: 0px; top: 10px; background-color: #b9b9b9; width: 4px; height: 4px; border-radius: 50%; }
    }
    @media (max-width: 1080px) {
        font-size: $fs-15;
    }
}
.dot_blue{ 
    > li{ position: relative; padding-left: 16px !important;
        &:before{position: absolute; content: ''; display: block;left: 0px; top: 10px; background-color: #17469d; width: 4px; height: 4px; border-radius: 50%; }
    }
    @media (max-width: 1080px) {
        font-size: $fs-15;
    }
}

//블릿 적용
.bar{ 
    > li{ position: relative; padding-left: 16px !important; 
        &:before{position: absolute; content: '-'; display: block;left: 0px;  width: 4px; height: 4px; }
    }
    @media (max-width: 1080px) {
        font-size: $fs-15;
    }
}

// 체크 적용
.check{ 
    > li{ position: relative; padding-left: 32px; margin-bottom: 20px;
        &:before{position: absolute; content: ''; display: block;left: 0px;top: 4px;  width: 16px; height: 14px;  background: url(../images/sub/icon_check.png) no-repeat center left;}
        &:last-of-type{margin-bottom: 0;}
    }
     @media (max-width: 1080px) {
        >li{
            padding-left: 25px;
            &::before{ background-size: auto 11px;}
        }
     }
}

