@charset "UTF-8";
@import 'variable'; // 0. 변수(색상, 폰트, 간격, 브레이크포인트 등 재사용 가능한 설정 값들)
@import 'reset'; // 1. 리셋 & 브라우저 기본 스타일 제거 또는 통일, 초기화
@import 'common'; // 2. header, footer, 공통(popup,sitemap)
@import 'board'; // 3. form,table,input,btnStyle1
@import 'main'; // 4. 메인페이지
//@import 'sub'; // 5. 서브페이지

//@import 'class'; // 6. 클래스 정의(animation포함)





